body{
    background-color: black;
    color: white;
    font-family: arial;
}
.title{
    margin-left: 160px;
    font-weight: 400;
}
.button{
    border: none;
    display: flex;
    align-items: center;

}

.img{
  height: 60px;
}
.button-img{
    
    width: 200px;
    height: 200px;
    border: 3px solid white;
    border-radius: 50%;
    background-color: transparent;
    margin-right: 10px;
    padding: 3%;
    cursor: pointer;
}
.restart{
    border: 4px solid green;
    background-color: transparent;
    color: green;
    font-size: 30px;
    border-radius: 20%;
    width: 60px;
    height: 60px;
    justify-content: center;
    cursor: pointer;
}
.result{
    border: none;
    display: flex;
    margin-top: 50px;
    width: 50%;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    margin-left: 150px;
    
    /*margin-top: 50px;
    */
}
.outcome{
    font-size: 30px;
    width: 100px;
    
}
.move{
    display: flex;
    margin-top: 30px;
}
.score{
    margin-top: 10px;
    font-size: 20px;
}
